body {
  font-family: "Times New Roman", Times, serif;
  font-size: 14px;
  width: 100%;
  margin: 0px auto;
  background: #fee3ec;
}
#banner {
  z-index: 8;
}
#banner img {
  width: 100%;
}
main {
  height: 1300px;
  width: 100%;
  background: #feece9;
}
.menu ul li a.active {
  background: white;
}
.right {
  min-height: 900px;
  width: 75%%;
  background: #feece9;
  float: right;
}
.class {
  padding-top: 15px;
  border: 2px solid #ff87ca;
}
.class .class2 {
  display: inline-block;
  padding: 15px 7px 0px 5px;
  border: 1px solid black;
}
.class .class2 img {
  width: 210px;
  height: 210px;
}
.class .class2 b {
  padding-bottom: 10px;
  color: #ff5da2;
}
.class .class2:hover {
  transform: scale(1.05);
  background: #fee3ec;
}
.class .h2 {
  text-align: center;
  font-size: 20px;
}
.class .class2 .mua {
  background: #ff5da2;
  text-align: center;
  width: 45px;
  height: 25px;
  line-height: 25px;
  position: relative;
  left: 145px;
  bottom: 19px;
  border-radius: 10px 10px 10px 10px;
}
.class .class2 .mua:hover {
  background: white;
}
aside {
  height: 1299px;
  width: 25%;
  float: left;
  background: #fee3ec;
}
.class3 {
  width: 89%;
  height: 600px;
  background: #ff87ca;
  position: relative;
  left: 18px;
  border-radius: 5px 5px 5px 5px;
}
.class3 h3 {
  text-align: center;
  font-size: 30px;
  padding-top: 20px;
}
.class3 .class4 img {
  width: 300px;
  height: 150px;
  padding: 10px 15px 0px 15px;
}
.class3 .class4:hover {
  border: 2px solid #000;
}
.class3 .class4 h2 {
  padding-left: 10px;
  color: #fee3ec;
}
